@import "variables.less";
#header_map {
    margin: 0;
    width: 100%;
	height: 320px;
}

#form_search
{
    text-align: center;
    padding: 25px 0;
    
    input, select, button
    {
        width: 300px !important;
    }
}

#last_offers
{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
}

footer
{
    padding: 15px 50px;
}