@import "variables.less";
@import "buttons.less";

#header_bar {
  position: absolute;
  background-color: @red;
  width: 100%;
  opacity: 0.9;
  height: 70px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  a {
    top: 10px;
    position: relative;
  }
}

#header_map {
  margin: 0;
  width: 100%;
  height: 420px;
}

#unemployment_map {
  margin: 0;
  width: 100%;
  height: 600px;
}

#employment_map {
  margin: 0;
  width: 100%;
  height: 600px;
}

#header_call_to_action {
  color: @dark-gray;
  font-size: 3em;
  position: relative;
  margin-top: -70px;
  text-align: center;
  text-shadow: 1px 1px @dark-gray;
  margin-bottom: 10px;
}

#form_search {
  background-color: @dark-gray;
  height: 120px;
  text-align: center;
  padding: 25px 0;
  margin: 0 auto;
  input, select {
    height: 45px;
    width: 300px !important;
  }

  form {
    .vertical-center();
  }
}

.btn-black {
  .button-variant(white, @dark-gray, @dark-gray);
  .btn-without-border()
}

.btn-red {
  .button-variant(white, @red, @red);
  .btn-without-border();
}

.btn-green {
  .button-variant(white, @green, @green);
  .btn-without-border();
}

.btn-without-border() {
  width: 120px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#content {

  .row {
    padding: 20px;
  }
  background-color: @background;

  .border {
    padding-bottom: 5px;
    color: #808080;
    border-bottom: 1px solid @border;
  }
  a {
    color: @red;
  }

  .lateral-form {
    display: block;

    .border {
      padding-top: 20px;
      margin-bottom: 20px;
    }

    input, button, textarea {
      padding: 10px;
      width: 100%;
    }
  }

  .job-box {
    background-color: white;
    border: 1px solid @border;
    padding: 20px;
    margin-bottom: 20px;

    .row {
      padding: 5px;

      label {
        font-weight: bold;
      }
    }
  }

  .lateral-form, #unsubscribe {
    input, button, textarea {
      margin-top: 10px;
    }
  }

  #unsubscribe input, #unsubscribe button {
    display: block;
  }

  .evolution {
    background-color: @dark-gray;
    color: white !important;

    slider, [slider] {
      color: @dark-gray;
    }

    slider div.bar, [slider] div.bar {
      background-color: white;
    }

    slider div.handle, [slider] div.handle {
      border: 0px;
      background-color: @red;
    }

    slider div.handle:after, [slider] div.handle:after {
      background-color: white;
    }

    .border {
      color: white;
    }

    #menu img {
      width: 200px;
    }

    #pyramid {
      .nv-x .tick {
        display: none;
      }
    }

    .evolution_header {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 50px;
    }

    .graph {
      color: white;
      width: 100%;

      svg {
        height: 400px;
      }
      svg text {
        fill: white;
      }
      .nv-x .tick line {
        display: none;
      }
      .nv-y .tick line {
        opacity: 0.2 !important;
        fill: @dark-gray;
      }
    }

  }
}

.radio-with-margin input[type=radio] {
  margin-right: 10px;
}

footer {
  height: 200px;
  background-color: @dark-gray;
  padding: 15px 50px;
  color: white;

  a {
    color: white;
  }

  div {
    .vertical-center();
  }

}

p {
  font-family: Tahoma, Helvetica, Arial;
  color: @text
}

.vertical-center() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

a:hover, a:focus {
  text-decoration: none;
  color: @red;
}

footer a:visited {
  text-decoration: none;
  color: white;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: @border;
}

.red {
  color: @red;
}

.green {
  color: @green;
}

.orange {
  color: @orange;
}

.general_tooltip {
  border: 2px solid @red;
  background: white;
  overflow: visible;
  padding: 15px 10px;
  h3 {
    margin: 0;
    font-size: 1.2em;
  }
}