<div id="evolution" class="container-fluid" ng-controller="EvolutionController as evolution">

    <div class="row">
        <div style="text-align:center; padding-top:40px">
            <img src="img/ic_study.png">

            <h3>Estudio sobre la evolución del empleo en Castilla y León</h3>
        </div>

        <div class="col-md-6">
            <div id="unemployment_map"></div>
            <div style="background-color:white; width:100%; padding:20px">
                <span style="color:black;">Paro a fecha: {{evolution.date}}</span>
                <slider floor="0" ceiling="{{evolution.dates.length-1}}" step="1" ng-model="evolution.value"
                        style="width:99%"></slider>
                <button class="btn btn-lg btn-red" style="width:200px" ng-click="evolution.enableAnimation()">Empezar animación</button>
                <button class="btn btn-lg btn-black" style="width:200px" ng-click="evolution.disableAnimation()">Parar animación</button>
            </div>
        </div>
        <div class="col-md-6">
            Paro a fecha: {{evolution.date}}
            <div ng-repeat="nojobs in evolution.unemployments.rows | orderBy: 'provincia'">

                <p>{{nojobs.provincia}} : {{nojobs.paro_truncado}}%</p>


            </div>
        </div>
    </div>
    <a ui-sref="home" class="pull-right">« Volver a la página de inicio</a>
</div>