<div id="evolution" class="container-fluid" ng-controller="EvolutionController as evolution">

    <div class="row">
        <div style="text-align:center; padding-top:40px">
            <img src="img/ic_study.png">

            <h3>Estudio sobre la evolución del empleo en Castilla y León</h3>
        </div>

        <div class="col-md-6">
            <div id="unemployment_map" style=" color: black"></div>

        </div>
        <div class="col-md-6">
            <h4>Tasa de paro ({{evolution.date}})</h4>
            <div ng-repeat="nojobs in evolution.unemployments.rows" class="row border" style="color:white">
                <div class="col-md-3">
                    {{nojobs.provincia}}
                </div>
                <div class="col-md-9">
                    {{nojobs.paro_truncado}}%
                </div>
            </div>
            <slider floor="0" ceiling="{{evolution.dates.length-1}}" step="1" ng-model="evolution.value"
                    style="width:99%"></slider>
            <button class="btn btn-lg btn-green" style="width:200px" ng-click="evolution.enableAnimation()">Empezar
                animación
            </button>
            <button class="btn btn-lg btn-red" style="width:200px" ng-click="evolution.disableAnimation()">Parar
                animación
            </button>
        </div>
    </div>
    <a ui-sref="home" class="pull-right">« Volver a la página de inicio</a>
</div>