<div class="container-fluid" ng-controller="JobsController as jobsController"
     ng-init="jobsController.showCallToAction(false)">
    <div class="row">
        {{jobsController.model}}
        <div class="col-md-3">
            <div ng-include src="'pages/sendEmail.html'"></div>
            <div class="radio-with-margin ">
                <p><b>Publicado hace:</b></p>
                <input type="radio" ng-model="jobsController.when" value="whenever">Cualquiera<br/>
                <input type="radio" ng-model="jobsController.when" value="day">1 día<br/>
                <input type="radio" ng-model="jobsController.when" value="week">1 semana<br/>
                <input type="radio" ng-model="jobsController.when" value="month">1 mes<br/>
            </div>
        </div>
        <div class="col-md-9">

            <div style="padding-left:20px;padding-right:20px">
                <p><b>{{jobsController.total}} ofertas encontradas para <em>{{$root.text || 'todos los términos'}}</em> en <em>{{$root.region
                    || 'todas las provincias'}}</em></b></p>
            </div>
            <div class="border row" style="margin:0px">
                <div class="col-md-8">{{jobsController.total}} ofertas</div>
                <div class="col-md-2">Dónde y cuando</div>
                <div class="col-md-2">Dificultad de acceso</div>
            </div>
            <div class="row">
                <div ng-repeat="job in jobsController.jobs">
                    <div class="job-box">
                        <div class="row">
                            <div class="col-md-8">
                                <h4><a ui-sref="jobDetail({id:job.identificador, text: jobsController.text})">{{job.titulo
                                    |
                                    capitalize}}</a></h4>
                            </div>
                            <div class="col-md-2">{{job.localidad | capitalize}}</div>
                            <div class="col-md-2"><span class="{{jobsController.difficulty(job)[1]}}">{{jobsController.difficulty(job)[0]}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">{{job.nivel_profesional | capitalize}}
                            </div>
                            <div class="col-md-2">{{jobsController.differenceBetweenDays(job.fecha_de_publicacion)}}
                            </div>
                            <div class="col-md-2">{{job.jornada | capitalize}}</div>

                        </div>
                    </div>
                </div>
                <pagination boundary-links="true" total-items="jobsController.total" ng-model="jobsController.currentPage" class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="5" ng-change="jobsController.pageChanged()"
                            last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>